<ul class="title-area">
  <li class="name">
    <h1> {{link-to title 'application'}}</h1>
  </li>
</ul>
<section class="top-bar-section">
  <ul class="left">
    {{link-to group 'group'}}
  </ul>
  {{#if currentUser}}
    <a href="#" class="button" data-dropdown="drop">Welcome, {{currentUser.first_name}}</a>
  {{else}}
    <a href="#" class="button" data-dropdown="drop">Sign In</a>
  {{/if}}
  <ul class="right">
     <ul id="drop" class="[tiny small medium large content] f-dropdown" data-dropdown-content>
        <li><a href="#">This is a link</a></li>
        <li><a href="#">This is another</a></li>
        <li><a href="#">Yet another</a></li>
     </ul>
  </ul>
</section>