<div class="splash">
  <div class="row">
    <div class="logo text-center">
      <img class="picture" src='/assets/images/logo2.png' alt="Logo">
    </div>
  </div>
  <div class="row">
    <div class="register text-center">
      <ul class="no-bullet">
        <li><button class="large round button alert">Register</button></li>
        <li><button class="tiny round button alert">Login</button></li>
      </ul>
    </div>
  </div>
</div>