<div class="splash">
  <div class="row">
    <div class="logo text-center">
      <img class="picture" src='/assets/images/logo2.png' alt="Logo">
    </div>
  </div><br><br>
  <div class="row">
    <div class="register text-center">
      <ul class="no-bullet">
        <li><button class="large round button alert">Register</button></li>
        <li><button class="tiny round button alert">Login</button></li>
      </ul>
    </div>
  </div>
</div>

<!-- when ember app loads
need to find out if user is logged in
  - do this by pinging rails server via ajax and find out if we're logged in
  - if we are logged in, probably want to save this data somewhere (window? global state?)
    (so we don't have to repeat the ajax request)

If they're logged in
  -- reload some UI element to show your name
  
If they're not logged in
  -- show link to log in -- link should point to rails app -->
