<div class="splash">
  <div class="row">
    <div class="logo text-center">
      <img class="picture" src='/assets/images/logo2.png' alt="Logo">
    </div>
  </div><br><br>
  <div class="row">
    <div class="register text-center">
      <ul class="no-bullet">
        <li>{{#link-to 'login' class="large round button alert"}}Login{{/link-to}}</li>
        <li>{{#link-to 'new-user' class="small round button alert"}}Register{{/link-to}}</li>
      </ul>
    </div>
  </div>
</div>